{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "jsxBracketSameLine": true,
    "jsxSingleQuote": true,
    "semi": true,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "trailingComma": "none"
}
